
$main-color: #ab2000;
$icon-color: #f6921e;
$link-color: #6a1211;
$border-color: #f6921e;
$search-result-desc-color: #fff5ea;
$table-row-hover: #f7e8d8;
$table-row-highlight: #ffd7af;
$focus-color: #0086bc;
$main-logo: "img/logo-rds.svg";
$primefaces-main: "img/primefaces-main-rds.png";
$dataverse-icon: "img/dataverse-icon-rds.svg";
$ajax_spinner_filter: hue-rotate(170deg) saturate(2);
$dataverse-icon-mono: "\f201";
$main-logo-mono: "\f203";

@import "theme.scss"
